* {
	box-sizing: border-box;
}

body {
	margin: 0;
	text-align: center;
	overflow-x: hidden;
}

div{
	width: 100%;
}

.gray {
	color: #918e9b;
}

nav {
	display: flex;
	text-align: left;
	padding: 20px;
	background: #ffffff;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav .logo {
	display: flex;
	margin-left: 15px;
	font-family: 'Martel Sans', cursive;
	font-weight: bold;
	color: rgb(67, 101, 79);
}

nav.dark {
    background-color: #cecbc3fe;
}

.toggler {
    display: flex;
    align-items: center;
	justify-content: flex-end;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #cecbc3fe;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: #cecbc3fe;

}

.toggler--light {
    color: white;
}

nav.dark .toggler--light {
    color: white;
}

.toggler--dark {
    color: #cecbc3fe;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

section.dark {
    background-color: #dad9d3;
}

.slick-slide > div {
	margin: 0 10px;
}
.slick-list {
	margin: 0 -10px;
}

.img-hero {
	margin: 20px;
	height: 200px;
	width: 350px;
	object-fit: cover;
	border-radius: 2%;
}

h2 {
	padding-top: 30px;
	font-family: 'Martel Sans', cursive;
	color: rgb(113, 125, 113);
}

.card {
	display: inline-block;
	margin: 0 auto;
	font-family: 'Martel Sans';
	padding: 20px;
	width: 500px;
}

.card--image {
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
	border-radius: 5%;
}

.card--star {
	font-weight: bold;
	color: rgb(135, 179, 151);
}

.card--star,
.card--location {
	margin: 2px;
}

.card--link {
	text-decoration: none;
	color: rgb(61, 73, 61);
	cursor: pointer;
	transition: color 1s;
}

.card--link:hover {
	color: rgb(135, 179, 151);
}

.card--date {
	font-weight: bold;
	color: rgb(135, 179, 151);
}
